# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

from datetime import datetime
from datetime import timedelta

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [54]:
# import dataset
pokemon = pd.read_csv("Pokemon.csv")

In [55]:
pokemon.shape

(800, 13)

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# slicing multiple columns aka exctracting all the values in Type 1 and Type 2.
pokemon[['Type 1', 'Type 2']] #.head(60)

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [7]:
#create an array containing the distinct values across both fields.

pd.unique(pd.concat([pokemon['Type 1'],pokemon['Type 2']]))

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', nan], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [ ]:
#pokemon['Name'].str.split(' ', n=1, expand=True)[1] 
# n=1 -> number of splits
# expand=True -> putting in df
# [0] accessing 1st position
# [1] accessing 2nd half

In [38]:
# Cleaning up the pokemon names:

Mega_list = []
for i in pokemon['Name']: # i represents the content of the cell
    if 'Mega ' in i:
        i = i.split('Mega')[1] # going through every row
        i = 'Mega ' + i # + i string concat
        Mega_list.append(i) 
    else: 
        Mega_list.append(i)

pokemon['Name'] = Mega_list
pokemon['Name']

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3           Mega  Venusaur
4               Charmander
              ...
795                Diancie
796          Mega  Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 800, dtype: object

In [39]:
# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [82]:
# your code here

pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [83]:
# your code here

pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,Psychic,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [84]:
# your code here

pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Bug Rock,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [85]:
# your code here

types = pokemon['Type 1'].unique() # seems to work with either Type 1 or 2, not sure if there's a difference


def combo_type(value):
    if value['Type 2'] in types:
        return value['Type 1'] + ' ' + value['Type 2'] 
    return value['Type 1']

pokemon['Combo Type'] = pokemon.apply(combo_type, axis=1)

pokemon['Combo Type'].head(60)

0      Grass Poison
1      Grass Poison
2      Grass Poison
3      Grass Poison
4              Fire
5              Fire
6       Fire Flying
7       Fire Dragon
8       Fire Flying
9             Water
10            Water
11            Water
12            Water
13              Bug
14              Bug
15       Bug Flying
16       Bug Poison
17       Bug Poison
18       Bug Poison
19       Bug Poison
20    Normal Flying
21    Normal Flying
22    Normal Flying
23    Normal Flying
24           Normal
25           Normal
26    Normal Flying
27    Normal Flying
28           Poison
29           Poison
30         Electric
31         Electric
32           Ground
33           Ground
34           Poison
35           Poison
36    Poison Ground
37           Poison
38           Poison
39    Poison Ground
40            Fairy
41            Fairy
42             Fire
43             Fire
44     Normal Fairy
45     Normal Fairy
46    Poison Flying
47    Poison Flying
48     Grass Poison
49     Grass Poison
50     Grass Poison
51        Bug Grass
52        Bug Grass
53       Bug Poison
54       Bug Poison
55           Ground
56           Ground
57           Normal
58           Normal
59            Water
Name: Combo Type, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [100]:
# your code here

top_five = pokemon.nlargest(5, ['A/D Ratio'])
top_five

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,Psychic,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Water Dark,4.500
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug Poison,3.750
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Rock,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Water Dark,3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [101]:
# your code here

list(top_five['Combo Type'].unique())

['Psychic', 'Water Dark', 'Bug Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [103]:
# your code here

pokemon.pivot_table(index= ['Combo Type'])

,#,A/D Ratio,Attack,Defense,Generation,HP,Legendary,Sp. Atk,Sp. Def,Speed,Total
Combo Type,,,,,,,,,,,
Bug,361.352941,0.940179,50.352941,55.411765,3.470588,53.058824,0.0,39.294118,43.647059,47.941176,289.705882
Bug Electric,595.500000,1.111667,62.000000,55.000000,5.000000,60.000000,0.0,77.000000,55.000000,86.500000,395.500000
Bug Fighting,214.000000,1.637681,155.000000,95.000000,2.000000,80.000000,0.0,40.000000,100.000000,80.000000,550.000000
Bug Fire,636.500000,1.234266,72.500000,60.000000,5.000000,70.000000,0.0,92.500000,80.000000,80.000000,455.000000
Bug Flying,286.285714,1.146274,70.142857,61.571429,2.857143,63.000000,0.0,72.857143,69.071429,82.857143,419.500000
...,...,...,...,...,...,...,...,...,...,...,...
Water Ice,103.000000,0.821759,83.333333,113.333333,1.000000,90.000000,0.0,80.000000,78.333333,66.666667,511.666667
Water Poison,118.666667,1.162149,68.333333,58.333333,1.333333,61.666667,0.0,61.666667,91.666667,85.000000,426.666667
Water Psychic,111.800000,0.783668,73.000000,104.000000,1.200000,87.000000,0.0,94.000000,79.000000,44.000000,481.000000
Water Rock,430.000000,0.727170,82.750000,112.750000,3.750000,70.750000,0.0,61.500000,65.000000,36.000000,428.750000
Water Steel,395.000000,0.977273,86.000000,88.000000,4.000000,84.000000,0.0,111.000000,101.000000,60.000000,530.000000